/*Tara Speak
	4/21/2020
	Filename: twoplates.css
	Attached to files: index.html, plates.html, norway.html, ghana.html, subscribe.html, about.html, references.html
*/

/*
Color palete:
#199290 (teal blue main)
#196c92 (second darker blue)
#579219 (green)
#92191b (red)
*/

*	{box-sizing: border-box;
} /*includes padding and border in the total width and height of div tag*/

body  {font-family: Arial, Helvetica, sans-serif;
}


/* Style the navigation bar */
nav {
    overflow: hidden;
    background-color: #fff; /*changed from #199290*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*added borders*/
    border-top: 2px solid #199290;
    border-bottom: 2px solid #199290;
  }
/* Style the nav links */
nav a {
    float: left;
    display: block;
    color: #199290; /*changed from #fff*/
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1.75em; /**/
  }
/* Change color on hover */
nav a:hover {
    background-color: #199290; /*changed from #fff*/
    color: #fff; /*changed from #000*/
  }

.index {text-align: center;
}

.directions {align-items: center;}

main {padding: 25px;}

#leftwrapper { 
  width: 85%;
  line-height: 200%;
  float: left;
  width: 50%;
  padding: 1em;
  position: relative;	
}

#rightwrapper { 
  width: 85%;
  line-height: 200%;
  float: right;
  width: 50%;
  padding: 1em;
  position: relative;	
}

/*For index page for subscribe image link*/
#centerwrapper  {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*For Norway and Ghana pages*/
.countrywrapper {
  display: block;
  margin: auto;
  padding: 10px;
}

.img_float_right{border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);
  float: right;
  padding: 1em;
}

.img_float_left{border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);
  float: left;
  padding: 1em;
  margin-right: 30px;
}

.regions {
  display: table;
  clear: both;
  width: 100%; /*To fix the issue with sizing the ghana and norway pictures*/
}

/*Recipe formatting*/

.reciperight  {border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);
  margin: 30px 15px 30px 570px;
  padding: 0px 10px 0px 10px;
  font-size: larger;
}

.recipeleft {border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);
  margin:30px 570px 30px 15px;
  padding: 0px 10px 0px 10px;
  font-size: larger;
}

/* photo slideshow */

.slide-container {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}

.image-container {
  width: 4000px;
  height: 500px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
}

.button-container {
  top: -40px;
  position: relative;
}

.slider-button {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #199290;
}

#slider-image-1:target ~ .image-container {
  left: 0px;
}

#slider-image-2:target ~ .image-container {
  left: -800px;
}

#slider-image-3:target ~ .image-container{
  left: -1600px;
}

#slider-image-4:target ~ .image-container{
  left: -2400px;
}

#slider-image-5:target ~ .image-container{
  left: -3200px;
}

.small-text {
  font-size: smaller;
  color: #98989c;
  text-align: center;
  margin: auto;
  position: relative;
}

#past-plates {
  clear: both;
  font-size: 2em;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: bold;
}


/*This changes the link appearance on div hyperlinks specifically made for the image page links*/
div a:link, 
div a:visited  {text-decoration: none;
            color: #199290;
            font-size: 2em;
            font-weight: bolder;
          }

div a:hover {text-decoration: underline;
            color: #000;
}

/* Gallery containter for images with labels attached */
div.gallery {
  margin: 5%;
  border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);/*Creates a transparent background to the paragraph elements*/
  padding: 2em;
}
  div.gallery:hover {
    border: 3px solid #199290;
  }
      
  div.gallery img {
    width: 100%;
    height: auto;
    border: 30px solid #fff;
  }
      
  div.desc {
    padding: 15px;
    text-align: center;
    text-decoration: none;
  }

.main div {
  flex: 1;
}

footer {
  background-color: #199290;
  color: #fff;
  padding: 10px;
  font-size: small;
  font-style: italic;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1  {font-size: 10vw;}
h2  {font-size: 4em;
margin-block-start: 0.4em;
margin-block-end: 0.4em;}
h3  {font-size: 2em;}
h4  {font-size: .55em;}
p  {font-size: 1.2em;
  text-align: center;
  max-width: 1150px; /*prevents the text from being stretched out too far*/
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);/*Creates a transparent background to the paragraph elements*/
  padding: 25px;}


th { text-align: left; }

.flow	{display: block;}

/* remove arrows in form number input in Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:0;
}

/* remove arrows in form number input in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.required { 
  font-size: smaller;
  color: #98989c;
  text-align: left;
}

/*Style settings for table in subscription page*/
table	{border: 3px #199290 solid;
  margin-bottom: 1em;
  min-width: 200px;
  border-collapse: collapse;}
  td, th	{padding: 7px;
      border: 2px #199290 solid;}
  tr:nth-of-type(odd)	{background: rgba(25, 146, 144, 0.3);}

/*Added media queries to adjust nav bar for phone and tablet sizes.*/
@media only screen and (max-width: 635px) {
	    nav {
        float: none;
        display: flex;
        flex-wrap: wrap;
      }
    }
@media only screen and (max-width: 1024px) {
      nav a {font-size: larger;}
    }