/*Tara Speak
	4/21/2020
	Filename: twoplates.css
	Attached to files: index.html, plates.html, norway.html, ghana.html, subscribe.html, about.html, references.html
*/

/*
Color palete:
#199290 (teal blue main)
#196c92 (second darker blue)
#579219 (green)
#92191b (red)
*/

*	{box-sizing: border-box;
} /*includes padding and border in the total width and height of div tag*/

body  {font-family: Arial, Helvetica, sans-serif;}


/* Style the navigation bar */
nav {
    overflow: hidden;
    background-color: #fff; /*changed from #199290*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /*added borders*/
    border-top: 2px solid #199290;
    border-bottom: 2px solid #199290;
  }
/* Style the nav links */
nav a {
    float: left;
    display: block;
    color: #199290; /*changed from #fff*/
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1.75em; /**/
  }
/* Change color on hover */
nav a:hover {
    background-color: #199290; /*changed from #fff*/
    color: #fff; /*changed from #000*/
  }

#index {text-align: center;}

main {padding: 15px}

#leftwrapper { 
  width: 85%;
  line-height: 200%;
  float: left;
  width: 50%;
  padding: 1em;
  position: relative;	
}

#rightwrapper { 
  width: 85%;
  line-height: 200%;
  float: right;
  width: 50%;

  padding: 1em;
  position: relative;	
}

/*For index page for subscribe image link*/
#centerwrapper  {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*For Norway and Ghana pages*/
.countrywrapper {
  display: block;
  margin: auto;
  padding: 10px;
}

.img_float_right{
  float: right;
}

.img_float_left{
  float: left;
}

.regions {
  display: table;
  clear: both;
  width: 100%; /*To fix the issue with sizing the ghana and norway pictures*/
}

/*This changes the link appearance on div hyperlinks specifically made for the image page links*/
div a:link  {text-decoration: none;
            color: #fff;
            font-size: 2em;
            font-weight: bolder;
          }

div a:hover {text-decoration: underline;}

/* Gallery containter for images with labels attached */
div.gallery {
  margin: auto;
  border: 1px solid #ccc;
  background-color: #199290;
}
  div.gallery:hover {
    border: 1px solid #777;
  }
      
  div.gallery img {
    width: 100%;
    height: auto;
  }
      
  div.desc {
    padding: 15px;
    text-align: center;
  }
          
.main div {
  flex: 1;
}

footer {
  background-color: #199290;
  color: #fff;
  padding: 10px;
  font-size: small;
  font-style: italic;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1  {font-size: 10vw;}
h2  {font-size: 4em;}
h3  {font-size: 2em;}
h4  {font-size: .55em;}
p  {font-size: 1.2em;
  text-align: center;
  max-width: 1150px; /*prevents the text from being stretched out too far*/
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #199290;
  background: rgba(25, 146, 144, 0.1);/*Creates a transparent background to the paragraph elements*/
  padding: 25px;}

.flow	{display: block;}


/*Added media queries to adjust nav bar for phone and tablet sizes.*/
@media only screen and (max-width: 635px) {
	    nav {
        float: none;
        display: flex;
        flex-wrap: wrap;
      }
    }
@media only screen and (max-width: 1024px) {
      nav a {font-size: larger;}
    }